# Set to 'false' to connect to a real Redis server
REDIS_MOCK=true

# Real Redis connection settings (ignored if REDIS_MOCK is true)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Application Server Port
PORT=3000
